h1 {
    color: red;
    font-size: 5em;
}

p, li {
    color: green;
}

.special {
    color: orange;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

a:hover {
    text-decoration: none;
}
  